# Data Science Tools and Ecosystem

## Author
Austin Adkins

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages used in Data Science
- List popular libraries used in Data Science
- List popular tools used in Data Science
- Do a bit of math

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpys
3. GGplot2
4. Plotly

| Data Science Tools |
| ------------------ |
| Github |
| Jupyter Notebook |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335